body{
	margin: 0px;
	padding: 0px;
	font-family: Calibri, Arial, Tahome;
}

#header{
	width 900px;
	margin 0px auto 0px auto;
	border: 1px sold #000;
	clear: both:
}

#logo{
	width: 400px;
	float: left;
	border: 1px solid #000;
}

#navbar{
	width 900px;
	margin 0px auto 0px auto;
	border: 1px sold #000;
	clear: both:
}

#content{
	width 900px;
	margin 0px auto 0px auto;
	border: 1px sold #000;
	clear: both:
}

#contentleft{
	width: 550px;
	float: left;
	border: 1px solid #000;
}

#footer{
	width 900px;
	margin 0px auto 0px auto;
	border: 1px sold #000;
	clear: both:
}

